.delete_btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 8px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  background: black;
}

.hour_hand {
  width: 6px;
  height: 50px;
  z-index: 2;
}

.minute_hand {
  width: 4px;
  height: 70px;
  z-index: 1;
}

.second_hand {
  height: 90px;
  width: 4px;
  border: dashed;
  border-width: 2px;
  border-color: red;
}

.center {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  z-index: 3;
}
