body {
  font-family: 'Mina', sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.list_item {
  padding: 3px 10px;
  border: solid lightgray 0.5px;
  border-bottom: unset;
  cursor: pointer;
}

.list_item:hover {
  background-color: lightgray;
}

.list_item:last-child {
  border: solid lightgray 0.5px;
}

.profile_container {
  display: flex;
  flex-direction: column;
  width: 230px;
  border: solid lightgray 0.5px;
  margin: 10px;
}

.img {
  width: 230px;
  height: 230px;
  background-image: url('../../../public/assets/imgs/avatar_default.png');
  object-fit: contain;
  background-repeat: no-repeat;
}

.details_container {
  padding: 3px 10px;
}

.details_container:first-of-type {
  border-top: solid lightgray 0.5px;
}

.details_container:not(:last-child) {
  border-bottom: solid lightgray 0.5px;
}
