body {
  font-family: 'Mina', sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap_item,
.item {
  width: 430px;
  margin: 10px;
  padding: 10px 10px 1px;
  background: #000000;
}

.item_video iframe {
  display: block;
  margin: 0 auto;
  width: 430px;
  height: 240px;
  border: none;
}

.item_article h3 {
  display: table-cell;
  margin: 0 auto;
  width: 430px;
  height: 240px;
  text-align: center;
  vertical-align: middle;
  font-size: 140%;
  font-weight: normal;
}

.item_article h3 a {
  color: #ffffff;
}

.item .views {
  margin: 6px 0 0 0;
  text-align: right;
  font-size: 80%;
  color: #cccccc;
}

.wrap_item {
  position: relative;
  height: 260px;
}

.wrap_item .label {
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 1px solid;
  border-radius: 3px;
  color: #fff;
}

.wrap_item .item {
  width: 400px;
  margin: 0 auto;
}

.wrap_item .item iframe,
.wrap_item .item h3 {
  width: 400px;
  height: 210px;
}

.wrap_item_new {
  background-color: rgba(41, 198, 31, 0.47);
}

.wrap_item_new .label {
  background-color: rgba(15, 145, 37, 0.72);
  border-color: rgba(15, 145, 37, 1);
}

.wrap_item_popular {
  background-color: rgba(231, 0, 25, 0.64);
}

.wrap_item_popular .label {
  background-color: rgba(176, 0, 24, 0.73);
  border-color: rgba(176, 0, 24, 0, 1);
}
