body {
  font-family: 'Mina', sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  border: solid lightblue 2px;
  margin: 10px;
}
